<section class="container">
  <h1>cart</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Mount</th>
      </tr>
    </thead>
    <tbody>
      <% current_cart.items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.product.sell_price %></td>
        <td><%= item.quantity %></td>
        <td><%= item.total_price %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan='3'><b>Total Price</b></td>
        <td ><%= current_cart.total_price %></td>
      </tr>
    </tfoot>
  </table>
</section>