<section class="container">
  <h1>Cart</h1>
  <% unless current_cart.empty? %>
    <div>
      <%= link_to cart_path, class: "text-decoration-none", method: :delete, data: {confirm: "Are you sure?"} do %>
        <i class="far fa-trash-alt"></i>
        <span>Delete Items</span>
      <% end %>
    </div>
  <% end %>
  
  <% if current_cart.empty? %>
    <p>Please choose something</p>
    <%= link_to "Choose Item", root_path, class: "btn btn-info" %>
  <% else %>
    <%= render "cart_list" %>
    <%= link_to "Choose Item", root_path, class: "btn btn-info" %>
    <%= link_to "Pay", checkout_cart_path, class: "btn btn-danger" %>
    <% end %>
</section>